body {
  margin: 0;
  padding: 0;
  font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
}
ul {
  margin: 0;
}
.space-100 {
  height: 100px;
  width: 100%;
}
.space-50 {
  height: 50px;
  width: 100%;
}
.more {
  width: 150px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  align-items: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #79c5dc, #cecfb6);
}
.more:hover {
  opacity: 0.7;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.header__space {
  height: 80px;
  width: 100%;
}
.header nav {
  width: 60%;
}
.header__logo {
  display: block;
  margin: 0 0 0 30px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    margin: 0.5rem;
    width: 60%;
  }
}
.header__gnav {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .header__gnav {
    display: none;
  }
}
.header__gnav a {
  color: #292929;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}
.header__gnav a:hover {
  color: #6dc6e1;
  text-decoration: none;
}
.header__gnav-btn {
  align-items: center;
  background-color: #292929;
  display: flex;
  height: 100%;
  max-width: 200px;
  transition: 0.3s;
  width: 35%;
}
.header__gnav-btn:hover {
  background-color: #6dc6e1;
  transition: 0.3s;
}
.header__gnav-btn a {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
}
.header__gnav-btn a:hover {
  color: #fff;
  opacity: 0.8;
}
.header.fixed {
  background-color: #fff;
  box-shadow: 0 2.5rem 2rem -2rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .header.fixed {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  }
}
.footer {
  width: 100%;
}
.footer__top {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}
.footer__message {
  font-size: 24px;
}
.footer__bottom {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
.footer__copy {
  width: 100%;
  padding: 0 0 30px 0;
  text-align: center;
  font-weight: bold;
  color: #414141;
}
.footer__links {
  text-align: center;
}
.footer__link, .nav__item {
  color: #414141;
  font-size: 12px;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.9;
  text-decoration: underline #414141;
}
.cs__link:hover, .nav__item:hover {
  opacity: 0.9;
  text-decoration: underline #414141;
}
.footer__link:visited, .nav__item {
  color: #414141;
}
.nav__item:not(:first-child) {
  margin-left: 30px;
}
.footer__entry {
  width: 300px;
  height: 100px;
  display: inline-block;
  line-height: 100px;
  align-items: center;
  font-size: 30px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #79c5dc, #cecfb6);
}
.footer__entry:hover {
  opacity: 0.8;
}
.entry__button {
  text-decoration: none;
}
.entry__button:visited {
  text-decoration: none;
}
.hero {
  background: url(../img/hero.jpeg) no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  width: 75%;
  margin-left: auto;
  height: 650px;
  object-fit: cover;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.hero__ttl {
  position: absolute;
  top: 30%;
  left: 10%;
}
.hero__ttl-text span {
  font-size: 65px;
  margin-left: 20px;
  color: #2e2e2e;
  font-weight: normal;
}
.hero__middle, span {
  font-size: 26px;
}
.hero__small {
  font-size: 16px;
  color: #6a6a6a;
}
.work__ttl {
  background: url(../img/mission.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200px;
}
.mission__ttl {
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.mission__item {
  width: 100%;
  margin: auto;
  display: flex;
}
.mission__imgBox {
  width: 50%;
  height: 500px;
  text-align: center;
}
.mission__descBox {
  width: 50%;
  padding: 30px 0 0 30px;
}
.mission__desc {
  font-size: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.mission__img {
  width: 400px;
  height: 480px;
  object-fit: cover;
}
.mission__text {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  width: 75%;
  padding: 20px 0;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.index__human {
  width: 100%;
  margin: auto;
}
.friend__ttl {
  background: url(../img/interview.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200px;
}
.human__ttl {
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.human__descBox {
  text-align: center;
}
.human__item {
  width: 100%;
  margin: auto;
  display: flex;
}
.human__imgBox {
  width: 50%;
  height: 500px;
  text-align: center;
}
.human__descBox {
  width: 50%;
  margin: auto;
}
.human__desc {
  font-size: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.human__text {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  padding: 20px 0;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.human__box {
  width: 100%;
}
.human__box ul {
  display: flex;
  padding: 0;
}
.human__item {
  width: 25%;
  height: 400px;
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.human__icon {
  width: 100%;
  height: 400px;
  object-fit: cover;
  list-style: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  /* 1.2倍の大きさで表示 */
  transform: scale(1.2);
}
.human__link {
  width: 25%;
  height: 400px;
  list-style: none;
  text-decoration: none;
}
.next__img {
  width: 200px;
  height: 100px;
  position: relative;
  top: 40%;
  left: 20%;
}
.human__link li {
  width: 100%;
  height: 400px;
}
.caption {
  font-size: 130%;
  color: #414141;
  padding-top: 10px;
  text-align: center;
}
.mask {
  width: 100%;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
  /* 枠の上に置いて表示しない */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.human__item:hover .mask {
  top: 0px;
  /* 下に降りてくるように見せる */
}
.human__item:hover img {
  margin-top: 50px;
  /* 画像の絵を下にずらす */
  -webkit-transform: scale(1);
  /* 元の大きさに戻す */
  transform: scale(1);
}
.index__message {
  width: 100%;
  margin: auto;
}
.message__ttlimg {
  background: url(../img/message.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 150px;
}
.message__ttl {
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0 0 30px 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.message__item {
  width: 100%;
  margin: auto;
  display: flex;
}
.message__left {
  width: 40%;
  height: 600px;
}
.message__imgBox {
  width: 60%;
  height: 600px;
  text-align: center;
}
.message__descBox {
  width: 100%;
}
.message__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission__text {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 0 50px;
}
.message__more {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.recruit__ttlimg {
  background: url(../img/recruit.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 150px;
}
.recruit__wrap {
  width: 960px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.recruit__left, .recruit__right {
  width: 35%;
  height: 170px;
  line-height: 170px;
  align-items: center;
  font-size: 26px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #79c5dc, #cecfb6);
}
.recruit__left:hover, .recruit__right:hover {
  opacity: 0.8;
}
.recruit__link {
  background: linear-gradient(to right, #79c5dc, #cecfb6);
}
.inner {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}
.h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.contact__wrap-text {
  line-height: 2.5;
  margin-top: 3.5rem;
}
.contact__wrap-ttl {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.3rem;
  position: relative;
}
.contact__form {
  margin-top: 4rem;
}
.contact__form > div span {
  color: red;
  margin-left: 0.5rem;
}
.contact__form > div label {
  font-size: 16px;
  margin-right: 1rem;
  width: 220px;
}
.contact__form > div {
  align-items: center;
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  width: 100%;
}
.contact__form input {
  background-color: #efefef;
  border: none;
  font-size: 16px;
  height: 60px;
  padding: 0 1rem;
  width: 500px;
}
.input, select {
  vertical-align: middle;
}
.input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
}
.mwform-tel-field {
  color: #292929 !important;
  margin-left: 0 !important;
}
.mwform-tel-field input[type="text"], .mwform-zip-field input[type="text"] {
  display: inline-block;
}
.mwform-tel-field input {
  width: 100px !important;
}
.contact__form textarea {
  margin: 1rem auto 0;
  width: 90%;
  background-color: #efefef;
  border: 1px solid #efefef;
  box-sizing: border-box;
  font-size: 18px;
  height: 180px;
  padding: 10px;
}
.textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  font: 400 13.3333px Arial;
}
.btn__submit {
  margin: 6rem auto 0;
  position: relative;
  z-index: 2;
}
.btn__submit input {
  background-color: #fff;
  border: 1px solid #292929;
  display: flex;
  font-size: 22px;
  height: 100px;
  justify-content: center;
  margin: auto;
  transition: 0.3s;
  width: 400px;
}
.recruit__ttl {
  background: url(../img/recruit.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200px;
}
.recruit__ttll {
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
#wrapper #contents .guideline {
  margin: 0 auto 5em;
}
#wrapper #contents .guideline .r-title {
  margin: 0 auto 2em;
  padding: 0.3em 1em;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  background: #eee;
}
#wrapper #contents .guideline .state {
  width: 90%;
  margin: 0 auto;
}
#wrapper #contents .guideline .state .read {
  text-align: center;
  margin: 0 auto 3em;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  border: 2px solid #ccc;
}
#wrapper #contents .guideline table {
  margin: 0 auto 3em;
  width: 90%;
}
#wrapper #contents .guideline table tr th {
  background: none;
  border: none;
}
#wrapper #contents .guideline table tr td a {
  text-decoration: underline;
}
#wrapper #contents .guideline table tr td a:hover {
  text-decoration: none;
}
#wrapper #contents .guideline h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0.3em 2em;
  margin: 0 auto 1em;
}
.entry-format {
  zoom: 1;
  word-wrap: break-word;
}
.tbody {
  display: table-row-group;
}
table {
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #ccc;
  display: table-row;
}
table tr:first-child {
  border-top: 1px solid #ccc;
}
#wrapper #contents .guideline table tr th {
  background: none;
  border: none;
}
.entry-format th {
  font-size: 1em;
  font-weight: bold;
}
.entry-format td {
  font-size: 1em;
}
.entry-format th, .entry-format td {
  padding: 10px 15px;
  border-width: 0 0 1px 1px;
  text-align: left;
  vertical-align: top;
}
.entry-format table, .entry-format th, .entry-format td {
  border-style: solid;
  border-color: #c2c2c2;
}
table tr th {
  width: 20%;
}
