.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.header__space {
  height: 80px;
  width: 100%;
}
.header nav {
  width: 60%;
}
.header__logo {
  display: block;
  margin: 0 0 0 30px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    margin: 0.5rem;
    width: 60%;
  }
}
.header__gnav {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .header__gnav {
    display: none;
  }
}
.header__gnav a {
  color: #292929;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}
.header__gnav a:hover {
  color: #6dc6e1;
  text-decoration: none;
}
.header__gnav-btn {
  align-items: center;
  background-color: #292929;
  display: flex;
  height: 100%;
  max-width: 200px;
  transition: 0.3s;
  width: 35%;
}
.header__gnav-btn:hover {
  background-color: #6dc6e1;
  transition: 0.3s;
}
.header__gnav-btn a {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
}
.header__gnav-btn a:hover {
  color: #fff;
  opacity: 0.8;
}
.header.fixed {
  background-color: #fff;
  box-shadow: 0 2.5rem 2rem -2rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .header.fixed {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  }
}
