.hero {
  background: url(../img/hero.jpeg) no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  width: 75%;
  margin-left: auto;
  height: 650px;
  object-fit: cover;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.hero__ttl {
  position: absolute;
  top: 30%;
  left: 10%;
}
.hero__ttl-text span {
  font-size: 65px;
  margin-left: 20px;
  color: #2e2e2e;
  font-weight: normal;
}
.hero__middle, span {
  font-size: 26px;
}
.hero__small {
  font-size: 16px;
  color: #6a6a6a;
}
.work__ttl {
  background: url(../img/mission.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200px;
}
.mission__ttl {
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.mission__item {
  width: 100%;
  margin: auto;
  display: flex;
}
.mission__imgBox {
  width: 50%;
  height: 500px;
  text-align: center;
}
.mission__descBox {
  width: 50%;
  padding: 30px 0 0 30px;
}
.mission__desc {
  font-size: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.mission__img {
  width: 400px;
  height: 480px;
  object-fit: cover;
}
.mission__text {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  width: 75%;
  padding: 20px 0;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.index__human {
  width: 100%;
  margin: auto;
}
.friend__ttl {
  background: url(../img/interview.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 200px;
}
.human__ttl {
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.human__descBox {
  text-align: center;
}
.human__item {
  width: 100%;
  margin: auto;
  display: flex;
}
.human__imgBox {
  width: 50%;
  height: 500px;
  text-align: center;
}
.human__descBox {
  width: 50%;
  margin: auto;
}
.human__desc {
  font-size: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.human__text {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  padding: 20px 0;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.human__box {
  width: 100%;
}
.human__box ul {
  display: flex;
  padding: 0;
}
.human__item {
  width: 25%;
  height: 400px;
  display: block;
  text-align: center;
}
.human__icon {
  width: 100%;
  height: 400px;
  object-fit: cover;
  list-style: none;
}
.human__link {
  width: 25%;
  height: 400px;
  list-style: none;
  text-decoration: none;
}
.next__img {
  width: 200px;
  height: 100px;
  position: relative;
  top: 40%;
  left: 20%;
}
.human__link li {
  width: 100%;
  height: 400px;
}
.index__message {
  width: 100%;
  margin: auto;
}
.message__ttlimg {
  background: url(../img/message.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 150px;
}
.message__ttl {
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #414141;
  font-weight: 500;
  display: inline-block;
  margin: 0 0 30px 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.message__item {
  width: 100%;
  margin: auto;
  display: flex;
}
.message__left {
  width: 40%;
  height: 600px;
}
.message__imgBox {
  width: 60%;
  height: 600px;
  text-align: center;
}
.message__descBox {
  width: 100%;
}
.message__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission__text {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 0 50px;
}
.message__more {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.recruit__ttlimg {
  background: url(../img/recruit.png) no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.4);
  height: 150px;
}
.recruit__wrap {
  width: 960px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.recruit__left, .recruit__right {
  width: 35%;
  height: 170px;
  line-height: 170px;
  align-items: center;
  font-size: 26px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #79c5dc, #cecfb6);
}
.recruit__left:hover, .recruit__right:hover {
  opacity: 0.8;
}
.recruit__link {
  background: linear-gradient(to right, #79c5dc, #cecfb6);
}
